body{
  margin:0;
}
h1{
  color: pink;
  text-decoration: none;
  font-size:45px;
  text-align: center;
  margin:0;
  padding:10px;
  border-bottom:1.7px solid orange;
}
h2 {
font-size:25px;
color: pink;
}
#article{
padding-left:25px;
}
@media(min-width:800px){
#grid ol{
  color: black;
  font-size:20px;
  border-right:1.7px solid orange;
  margin:0;
  width:90px;
  padding:30px;
  padding-right:30px;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
}
